/* CSS files add styling rules to your content */

table{
  border:  1px solid grey;

}

td,th{
  border:  1px solid grey;
   text-align: center;
  vertical-align: top;
  padding: 5px;
  
}
#cell_2{
  height: 40px;
 
}